body{
	background-color: #ffffe6;
}

p{
	text-align: center;
	font-family: Lucida Handwriting;
}


.aDialogue{
	color: #8d79a8;
	font-style: oblique;
}

table{
  margin: auto;
  padding: 10px;
}

.choice{
	text-align: center;
	text-decoration: underline;
	font-family: Lucida Handwriting;
}

.choice:hover{
	color: red;
	font-weight: bold;
}

#resetButton{
	text-align: center;
	font-family: Lucida Handwriting;
	font-size: 20px;
}

#resetButton:hover{
	color:blue;
	font-weight:bold;
}