body{
	background-color: #cbcfd1;
}

//*Main game CSS*//

p{
	text-align: center;
	font-family: Lucida Handwriting;
}

img{
	display: block;
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.aDialogue{
	text-align: center;
	color: #4a3c5d;
	font-family: Lucida Handwriting;
	font-size: 18px;
}

.description{
	text-align: center;
	font-family: Serif;
	font-size: 20px;
}

#border{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border: double;
	background-color: #e6e6ff;
	width: 75%;
	padding: 5px;
}

#jumpscare{
	font-size: 30px;
	text-decoration: underline;
}


.catDialogue{
	text-align: center;
	font-family: Brush Script MT;
	font-size: 30px
}

.owlDialogue{
	text-align: center;
	font-family: 'Courier New';
	font-weight:bold;
	color: #4d3319;
	font-size: 17px;
}

table{
  margin: auto;
  padding: 10px;
}

td{
	text-align: center;
}

.choice{
	text-align: center;
	text-decoration: underline;
	font-family: Serif;
	color: #600080;
	font-size: 20px;
}

.choice:hover{
	color: red;
	font-weight: bold;
}

.infoText{
	text-decoration: none;
	font-style: italic;
	color: #ff0066;
}

.infoText:hover{
	font-weight: bold;
	color: #ff99cc;
}

#resetButton{
	color: red;
	text-align: center;
	font-family: Serif;
	font-size: 20px;
	border-style: solid;
	padding: 10px;
	background-color; gray;
}

#resetButton:hover{
	color:blue;
	font-weight:bold;
}

/*title screen CSS*//

#titleScreenTable{
	margin: auto;
	padding: 5px;
}

#titleArt{
	display: block;
	border: double;
	border-color: black;
	width: 60%
}

.titleButtons{
	font-size: 30px;
	font-weight: bold;
	border-style: solid;
	color: white;
	border-color: white;
	padding: 15px;
	background-color: black;
}

.titleButtons:hover{
	color: black;
	border-color: black;
	background-color: white;
}