body{
	background-color: #cbcfd1;
}

p{
	text-align: center;
	font-family: Lucida Handwriting;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.aDialogue{
	color: #4a3c5d;
	font-style: oblique;
}

#jumpscare{
	font-size: 50px;
	text-decoration: underline;
}

.catDialogue{
	font-family: Brush Script MT;
	font-size: 30px
}

table{
  margin: auto;
  padding: 10px;
}

.choice{
	text-align: center;
	text-decoration: underline;
	font-family: Lucida Handwriting;
}

.choice:hover{
	color: red;
	font-weight: bold;
}

#resetButton{
	text-align: center;
	font-family: Lucida Handwriting;
	font-size: 20px;
}

#resetButton:hover{
	color:blue;
	font-weight:bold;
}